@charset "UTF-8";

/* メイン画像 */
.mainvisual{
  margin-bottom: 80px;
}

.mainvisual_video{
width: 100%;
max-width: 1920px;
height: 500px;
object-fit: cover;
}

/* プロフィール */
.profile-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.profile-content>p{
  width: 60%;
}

/* スキル */
.table-wrap{
  width:100%;
  overflow-x:scroll;

}
table{
  border-collapse: collapse;
  width: 80%;
  margin:auto;
  background-color: white;
}
.tb-text th,
.tb-text td{
  padding: 10px;
  border: solid 1px #ccc;
  text-align:center;
  box-sizing:border-box;
}
.tb-text th {
  background: #99CCFF;
  color: black;
}

/* 保有資格 */
.certification-title{
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin: 40px 40px;
  border-bottom: solid 1px #383e45;
}
