/*ページ全体の設定*/
*{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}





/* ヘッダー*/
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul{
  display: flex;
  padding: 10px 0;
}

#header li{
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/*メイン*/
.flex{
  display: flex;
}


#mainvisual{
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainvisual img{
  width: 100%;
  max-width: 960px;
  height: 600px;
  object-fit: cover;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.img_main{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.text_content{
  text-align: left;
}

/*フッター*/
#footer{
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}


/*レスポンシブデザイン対応(コメント)*/
/* @media screen and (max-width: 1024px){
}

@media screen and (max-width:768px) {
  .flex{
    flex-direction: column;
  }
  main{
    width: 100px;
  }
  aside{
    width: 100px;
  }
}

@media screen and (max-widht:480px){
  
} */