/*ページ全体の設定*/
*{
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 2% 4%;
  text-align: center;
  background-color: #EEEEEE	;
}





/* ヘッダー*/
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul{
  display: flex;
  padding: 10px 0;
}

#header li{
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

.header_wrapper{
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/* メイン画像 */
#mainvisual{
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainvisual img{
  width: 100%;
  max-width: 1980px;
  height: 600px;
  object-fit: cover;
}

/* about */
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.img_main{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.text_content{
  text-align: left;
}

/* Histroy */
.wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item{
  padding: 30px;
  width: 20%;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }
}

  .item:not(:last-child) {
    margin-bottom: 30px;
  }



/*フッター*/
#footer{
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}